.contact-us {
    background-color: #121212;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 5%;
    flex-direction: column;
}

.contact-us .contact-container {
    display: flex;
    width: 100%;
}

.contact-us .contact-info-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-us .contact-info-left h3 {
    color: #DCC132;
    font-family: 'Audiowide';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us .contact-info-left .brand-name {
    margin: 2% 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24.002px;
}

.contact-us .contact-info-left .brand-name input {
    display: flex;
    width: 546.043px;
    padding: 14.401px 24.002px;
    align-items: center;
    gap: 12.001px;
    border-radius: 9.601px;
    border: 1.2px solid rgba(255, 255, 255, 0.30);
}

.contact-us .contact-info-left label {
    color: #FFF;
    font-family: 'Audiowide';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us .contact-info-left h4 {
    color: #F1F1F1;
    font-family: 'Raleway';
    font-size: 48.004px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-us .contact-info-left .service-details {
    margin: 2% 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24.002px;
}

.contact-us .contact-info-left .service-details textarea {
    display: flex;
    width: 546.043px;
    height: 242.419px;
    padding: 24.002px;
    align-items: flex-start;
    gap: 12.001px;
    border-radius: 9.601px;
    border: 1.2px solid rgba(255, 255, 255, 0.30);
}

.contact-us .contact-info-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-us .contact-info-right label {
    color: #FFF;
    font-family: 'Audiowide';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.contact-us .contact-info-right .required-service {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 582.004px;
    height: 172px;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item1 {
    grid-area: 1 / 1 / 2 / 3;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item2 {
    grid-area: 1 / 3 / 2 / 4;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item3 {
    grid-area: 2 / 1 / 3 / 2;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item4 {
    grid-area: 2 / 2 / 3 / 3;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item5 {
    grid-area: 2 / 3 / 3 / 4;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item6 {
    grid-area: 3 / 1 / 4 / 2;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service .required-service-item7 {
    grid-area: 1 / 2 / 2 / 3;
    cursor: pointer;
}

.contact-us .contact-info-right .required-service div {
    display: flex;
    width: 186px;
    height: 48px;
    padding: 14.401px 23.987px 14.599px 24.002px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1.2px solid #DCC132;
}

.contact-container .contact-email {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.contact-container label {
    color: #FFF;
    font-family: 'Audiowide';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.contact-container .contact-email input {
    display: flex;
    width: 546.043px;
    padding: 12.401px 24.002px;
    align-items: center;
    gap: 12.001px;
    border-radius: 9.601px;
    border: 1.2px solid rgba(255, 255, 255, 0.30);
}

.contact-container .contact-number {
    display: flex;
    flex-direction: column;

}

.contact-container .contact-number .contact-code-number {
    display: flex;
}

.contact-container .contact-number .contact-code-number .contact-code {
    border-radius: 10.6px;
    border: 1.2px solid rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 10px 12px 15px 15px;
    width: 70px;
    justify-content: center;

    align-items: center;

}

.contact-container .contact-number .contact-code-number .contact-phone {
    display: flex;
    width: 457px;
    padding: 14.401px 299.998px 14.599px 24.002px;
    align-items: center;
    border-radius: 10.6px;
    margin: 0 20px;
    border: 1.2px solid rgba(255, 255, 255, 0.30);
}

.contact-container .contact-submit {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.contact-container .contact-submit button {
    border-radius: 9.601px;
    background-color: #DCC132;
    border: 1.2px solid #DCC132;
    display: flex;
    width: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 12.001px;
    color: #000;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-container .contact-submit span {
    color: #C8C8C8;
    font-family: 'Raleway';
    font-size: 19px;
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 38.4px */
}