.slider-container {
    width: 100%;
    display: flex;
    align-items: center;
  margin: 3% 0;
    justify-content: center;
}

 .carousel-container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80vh;
    overflow: hidden;

}
.carousel-container .content-container{
    display: flex;
  width: 800px;
 
    align-items: flex-start;
}
.carousel-container .slide-image-container {
    width: 80%;
    transition: transform 1s ease-in-out;
    display: flex;
   

}
.carousel-container .content-container P{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-container h2 {
    color: #FFF;
    font-family: 'Raleway';
    font-size: 52px;
    font-style: normal;
    font-weight: 600;

    line-height: normal;
}
.carousel-controls button{
    outline: none;
}
.desc-container{
    height: 100px;
}
.carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

button {
    font-size: 24px;
    cursor: pointer;
    background: #ddd;
   
    border: none;
} 

.slide-image-container img {
   width: 600px;
    height: 500px;
}
.slide-image-container .next-image{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.slide-image-container .next-image img{
    width: 200px;
    height: 400px;
    overflow: hidden;
}

/*






*/